{
    "extends": "@colony/eslint-config-colony",
    "env": {
      "node": true
    },
    "rules": {
      "global-require": [0],
      "no-use-before-define": ["error", { "functions": false, "classes": true }],
      "flowtype/require-valid-file-annotation": [0],
      "import/no-dynamic-require": [0]
    }
}
