{
    "extends": "@colony/eslint-config-colony",
    "env": {
      "node": true
    },
    "rules": {
      "global-require": [0],
      "no-use-before-define": ["error", { "functions": false, "classes": true }],
      "import/no-dynamic-require": [0],
      "prettier/prettier": [
        "error",
        {
          "parser": "flow",
          "singleQuote": true,
          "trailingComma": "es5",
        },
      ],
    }
}
